.navbar {
  width: 100%;
  background: #A2D2FF;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.nav-btn {
  padding: 12px 20px;
  background: #BDE0FE;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease;
}

.nav-btn:hover {
  background: #8ecdfc;
  transform: scale(1.03);
}

.main-content {
  width: 100%;
  padding: 40px;
}
